.top-slider-container {
  width: 100%;
  overflow: hidden;
  margin: 60px;
  position: relative;
  padding: 0 10px;            
  box-sizing: border-box;
}

.top-slider-track {
  display: flex;
  width: 70%;
  transition: transform 0.5s ease-in-out;
  will-change: transform;     
}

.slider-card {
  min-width: 100%;            
  flex-shrink: 0;
  text-decoration: none;
  padding: 5px;
  box-sizing: border-box;
}

.slider-card img {
  width: 80%;
  height: 400px;
  object-fit: flex;
  border-radius: 10px;
  display: block;
}

.slider-card p {
  font-size: 15px;
  color: #111;
  margin-top: 8px;
  font-weight: 600;
  line-height: 1.3;
}





.feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 22px;
    margin-top: 100px;
    padding: 0 1%;
}


.card {
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background: var(--card-bg);
    color: var(--text-color);

}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


.card h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 8px 0 4px;
    color: var(--text-color);
    line-height: 1.3;
}

.card h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--text-color);
}


.card p {
    font-size: 13px;
    color:var(--text-color);
}


@media (max-width: 900px) {
    .feed {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 18px;
    }
}


@media (max-width: 600px) {
    .feed {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 15px;
    }

    .card h2 {
        font-size: 14px;
    }

    .card h3,
    .card p {
        font-size: 12px;
    }
}


@media (max-width: 400px) {
    .feed {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}
@media (max-width: 900px) {
  .slider-card img {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .slider-card img {
    height: 170px;
  }

  .slider-card p {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .slider-card img {
    height: 150px;
  }

  .slider-card p {
    font-size: 13px;
  }
}
