.play-video{
    flex-basis: 69%;
    background: var(--bg-color);
    color: var(--text-color);
}
.play-video iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;    /* keeps 16:9 */
  border: 0;
  display: block;
}
.play-video h3{
    margin-top: 10px;
    font-weight: 600;
    font-size: 22px;
}
.play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: grey;
}
.play-video-info img{
    width: 20px;
    margin-right: 8px;
}
.play-video-info span{
        display: inline-flex;
        align-items: center;
        margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: beige;
    margin: 10px 0;
}
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div{
    flex: 1;
    line-height: 18px;
}
.publisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.publisher div p{
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.publisher div span{
    font-size: 13px;
    color: black;
}
.publisher button{
    background: red;
    color: white;
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 0;
    cursor: pointer;
}
.vid.desc{
    padding-left: 55px;
    margin: 15px 0;
}
.vid.desc p{
    font-size: 14px;
    margin-bottom: 5px;
    color: black;
}
.vid.desc h4{
    font-size: 14px;
    color: black;
    margin-top: 15px;

}
.comment{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    color: var(--text-color);
}
.comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.comment h3 span{
    font-size: 12px;
    color: black;
    font-weight: 500;
    margin-left: 8px;
}

.comment-action{
     display: flex;
     align-items: center;
     margin: 8px 0;
     font-size: 14px;

}
.comment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.comment-action span{
    margin-right: 20px;
    color: black;
}
@media (max-width:900px){
    .play-video{
        flex-basis: 100%;

    }
    .play-video iframe{
        width: 100%;
        height: 50vw;
    }
    .vid-desc{
        padding-left: 0px;
    }
    .play-video .play-video-info span{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}
