

nav {
    display: flex;
    align-items: center;
    padding: 10px 2%;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left .menu-icon {
    width: 25px;
    margin-right: 18px;
    cursor: pointer;
}

.nav-left .logo {
    width: 35px;
    cursor: pointer;
}


.nav-middle {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.nav-middle .search-box {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 6px 10px;
    border-radius: 8px;
}

.nav-middle .search-box input {
    width: 350px;
    padding: 8px 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.nav-middle .search-box img {
    width: 25px;
    cursor: pointer;
    margin-left: 8px;
}


.nav-right {
    display: flex;
    align-items: center;
}

.nav-right img {
    width: 25px;
    margin-left: 18px;
    cursor: pointer;
}

.nav-right .user-icon {
    width: 35px;
    border-radius: 50%;
}

@media (max-width: 900px) {
    .nav-middle .search-box input {
        width: 180px;
    }

    .nav-right img {
        display: none;
    }

    .nav-right .user-icon {
        display: block;
        width: 32px;
    }

    .nav-left .menu-icon {
        display: none;
    }
}


@media (max-width: 600px) {
    nav {
        padding: 8px 4%;
    }

    .nav-middle .search-box input {
        width: 120px;
        font-size: 14px;
    }

    .nav-middle .search-box img {
        width: 22px;
    }

    .nav-left .logo {
        width: 30px;
    }
}


@media (max-width: 400px) {
    .nav-middle .search-box input {
        width: 85px;
    }

    .nav-right .user-icon {
        width: 28px;
    }
}
