*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: grey;
}
img{
    cursor: pointer;

}
.flex-dev{
    display: flex;
    align-items: center;
}