:root {
  --bg-color: white;
  --text-color: black;
  --card-bg: white;
  --border-color: white;
}


.dark {
  --bg-color: black;
  --text-color: white;
  --card-bg: #1a1a1a;
  --border-color: #333;
}


* {
  transition: background 0.3s ease, color 0.3s ease;
}
